apiVersion: apps/v1
kind: Deployment
metadata:
  name: sequencer
  labels:
    app: astria-dev-cluster
  namespace: "{{ .Values.namespace }}"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: astria-dev-cluster
  template:
    metadata:
      annotations:
        cni.projectcalico.org/ipAddrs: '["192.168.65.120"]'
      name: astria-sequencer
      labels:
        app: astria-dev-cluster
    spec:
      initContainers:
        - command: [ "/scripts/init-cometbft.sh" ]
          name: init-cometbft
          image: "{{ .Values.cometBFTImage }}"
          volumeMounts:
            - mountPath: /scripts/
              name: cometbft-scripts-volume
            - mountPath: /cometbft
              name: cometbft-home-vol
      containers:
        - name: sequencer
          image: "{{ .Values.sequencerImage }}"
          command: [ "/usr/local/bin/astria-sequencer" ]
          stdin: true
          tty: true
          args:
            - --genesis-file=/genesis/local.json
          volumeMounts:
            - mountPath: /genesis/
              name: sequencer-genesis-volume
          ports:
            - containerPort: 26658
        - name: cometbft
          command: [ "/scripts/start-cometbft.sh" ]
          image: "{{ .Values.cometBFTImage }}"
          volumeMounts:
            - mountPath: /scripts/
              name: cometbft-scripts-volume
            - mountPath: /cometbft
              name: cometbft-home-vol
          ports:
            - containerPort: {{ .Values.ports.cometBFTP2P }}
              name: cometbft-p2p
            - containerPort: {{ .Values.ports.cometBFTRPC }}
              name: cometbft-rpc
        - name: sequencer-relayer
          image: "{{ .Values.sequencerRelayerImage }}"
          command: [ "/scripts/start-relayer.sh" ]
          stdin: true
          tty: true
          volumeMounts:
            - mountPath: /home/relayer
              name: relayer-home-vol
            - mountPath: /cometbft
              name: cometbft-home-vol
              readOnly: true
            - mountPath: /scripts/
              name: relayer-scripts-volume
            - mountPath: /keys/
              name: relayer-keys-volume
              readOnly: true
          ports:
            - containerPort: {{ .Values.ports.gossipnet }}
              name: gossipnet
      volumes:
        - name: cometbft-scripts-volume
          configMap:
            name: cometbft-scripts
            defaultMode: 0777
        - name: sequencer-genesis-volume
          configMap:
            name: sequencer-genesis
            defaultMode: 0500
        - name: relayer-scripts-volume
          configMap:
            name: relayer-scripts
            defaultMode: 0500
        - name: relayer-keys-volume
          configMap:
            name: relayer-keys
            defaultMode: 0500
        - emptyDir: { }
          name: cometbft-home-vol
        - emptyDir: { }
          name: relayer-home-vol
