apiVersion: apps/v1
kind: Deployment
metadata:
  name: celestia-local
  labels:
    app: astria-dev-cluster
  namespace: astria-dev-cluster
spec:
  replicas: 1
  selector:
    matchLabels:
      app: astria-dev-cluster
  template:
    metadata:
      name: celestia-local
      labels:
        app: astria-dev-cluster
    spec:
      securityContext:
        runAsUser: 10001
        fsGroup: 10001
        fsGroupChangePolicy: "OnRootMismatch"
      initContainers:
        - name: init-celestia-app
          command: [ "/scripts/init-celestia-appd.sh" ]
          image: "ghcr.io/celestiaorg/celestia-app:v1.0.0-rc9"
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /scripts/
              name: celestia-appd-scripts-volume
            - mountPath: /home/celestia
              name: celestia-home-vol
          envFrom:
            - configMapRef:
                name: celestia-env
        - name: init-bridge
          command: [ "/scripts/init-bridge.sh" ]
          image: "ghcr.io/astriaorg/test-images-celestia-node:v0.11.0-rc7"
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /scripts/
              name: bridge-scripts-volume
            - mountPath: /home/celestia
              name: celestia-home-vol
          envFrom:
            - configMapRef:
                name: celestia-env
      containers:
        - name: celestia-app
          command: [ "/scripts/start-celestia-appd.sh" ]
          image: "ghcr.io/celestiaorg/celestia-app:v1.0.0-rc9"
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: celestia-env
          volumeMounts:
            - mountPath: /scripts/
              name: celestia-appd-scripts-volume
            - mountPath: /home/celestia
              name: celestia-home-vol
          ports:
            - containerPort: 26657
        - name: celestia-bridge
          command: [ "/scripts/start-bridge.sh" ]
          image: "ghcr.io/astriaorg/test-images-celestia-node:v0.11.0-rc7"
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /scripts/
              name: bridge-scripts-volume
            - mountPath: /home/celestia
              name: celestia-home-vol
          envFrom:
            - configMapRef:
                name: celestia-env
          ports:
            - containerPort: 26659
              name: bridge-rest
            - containerPort: 26658
              name: bridge-jsonrpc
          startupProbe:
            httpGet:
              path: /header/1
              port: bridge-rest
            failureThreshold: 30
            periodSeconds: 10
        - name: token-server
          image: "busybox:1.35.0-musl"
          imagePullPolicy: IfNotPresent
          command: [ "/bin/httpd", "-v", "-f", "-p", "5353", "-h", "/home/celestia/token-server/" ]
          ports:
            - containerPort: 5353
              name: token-svc
          volumeMounts:
            - mountPath: /home/celestia
              name: celestia-home-vol
              readOnly: true
          startupProbe:
            httpGet:
              path: /
              port: token-svc
            failureThreshold: 30
            periodSeconds: 5
      volumes:
        - name: bridge-scripts-volume
          configMap:
            name: bridge-scripts
            defaultMode: 0550
        - emptyDir: { }
          name: celestia-home-vol
        - name: celestia-appd-scripts-volume
          configMap:
            name: celestia-appd-scripts
            defaultMode: 0550
