apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: astria-dev-cluster
resources:
- config-maps.yml
- deployment.yml
- service.yml
configMapGenerator:
- name: celestia-appd-scripts
  namespace: astria-dev-cluster
  files:
  - scripts/init-celestia-appd.sh
  - scripts/start-celestia-appd.sh
- name: bridge-scripts
  namespace: astria-dev-cluster
  files:
  - scripts/init-bridge.sh
  - scripts/start-bridge.sh
  - scripts/generate-token.sh
