{{/* We need to manually create a PersistentVolume when local. */}}
{{/* In prod, a PV will be created by the StorageClass' provisioner using dynamic provisioning feature.  */}}
{{- $label := include "baseLabel" . }}
{{- if .Values.storage.enabled }}
  {{- range $key, $value := .Values.storage.entities }}
    {{- if $.Values.storage.local }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ $label }}-{{ $value.persistentVolumeName }}-pv
spec:
  capacity:
    storage: {{ $value.size }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ $label }}-{{ $value.persistentVolumeName }}-local
  local:
    path: {{ tpl $value.path . }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - astria-dev-cluster-control-plane
                - astria-dev-cluster-worker
                - astria-dev-cluster-worker2
                - astria-dev-cluster-worker3
---
    {{- end }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ $label }}-{{ $value.persistentVolumeName }}-pvc
  namespace: {{ $.Values.global.namespace }}
  labels:
    "app.kubernetes.io/name": "{{ $label }}-{{ $.Chart.Name }}"
    "app.kubernetes.io/managed-by": {{ $.Release.Service | quote }}
    "helm.sh/chart": {{ $.Chart.Name }}-{{ $.Chart.Version | replace "+" "_" }}
spec:
  {{- if $.Values.storage.local }}
  storageClassName: {{ $label }}-{{ $value.persistentVolumeName }}-local
  {{- end }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ $value.size }}
---
  {{- end }}
{{- end }}
