apiVersion: apps/v1
kind: Deployment
metadata:
  name: sequencer
  labels:
    app: astria-dev-cluster
  namespace: astria-dev-cluster
spec:
  replicas: 1
  selector:
    matchLabels:
      app: astria-dev-cluster
  template:
    metadata:
        name: metro-sequencer
        labels:
          app: astria-dev-cluster
    spec:
      initContainers:
        - command: [ "/scripts/init-cometbft.sh" ]
          name: init-cometbft
          image: "ghcr.io/astriaorg/cometbft:0.0.2"
          volumeMounts:
            - mountPath: /scripts/
              name: cometbft-scripts-volume
            - mountPath: /cometbft
              name: cometbft-home-vol
      containers:
        - name: sequencer
          image: "ghcr.io/astriaorg/sequencer:pr-167"
          command: [ "/usr/local/bin/astria-sequencer" ]
          args:
            - --genesis-file=/genesis/local.json
          volumeMounts:
            - mountPath: /genesis/
              name: sequencer-genesis-volume
          ports:
            - containerPort: 26658
        - name: cometbft
          command: [ "/scripts/start-cometbft.sh" ]
          image: "ghcr.io/astriaorg/cometbft:0.0.2"
          volumeMounts:
            - mountPath: /scripts/
              name: cometbft-scripts-volume
            - mountPath: /cometbft
              name: cometbft-home-vol
          ports:
            - containerPort: 26656
              name: cometbft-p2p
            - containerPort: 26657
              name: cometbft-rpc
        - name: sequencer-relayer
          image: "ghcr.io/astriaorg/sequencer-relayer:pr-167"
          command: [ "/scripts/start-relayer.sh" ]
          volumeMounts:
            - mountPath: /home/relayer
              name: relayer-home-vol
            - mountPath: /cometbft
              name: cometbft-home-vol
              readOnly: true
            - mountPath: /scripts/
              name: relayer-scripts-volume
            - mountPath: /keys/
              name: relayer-keys-volume
              readOnly: true
          envFrom:
            - configMapRef:
                name: relayer-env
          ports:
            - containerPort: 33900
              name: gossipnet
      volumes:
      - name: cometbft-scripts-volume
        configMap:
          name: cometbft-scripts
          defaultMode: 0777
      - name: sequencer-genesis-volume
        configMap:
          name: sequencer-genesis
          defaultMode: 0500
      - name: relayer-scripts-volume
        configMap:
          name: relayer-scripts
          defaultMode: 0500
      - name: relayer-keys-volume
        configMap:
          name: relayer-keys
          defaultMode: 0500
      - emptyDir: {}
        name: cometbft-home-vol
      - emptyDir: {}
        name: relayer-home-vol
