apiVersion: apps/v1
kind: Deployment
metadata:
  name: geth
  labels:
    app: astria-dev-cluster
  namespace: astria-dev-cluster
spec:
  replicas: 1
  selector:
    matchLabels:
      app: astria-dev-cluster
  template:
    metadata:
        name: execution-chain
        labels:
          app: astria-dev-cluster
    spec:
      initContainers:
        - command:
          - /scripts/init-geth.sh
          name: init-geth
          image: "ghcr.io/astriaorg/go-ethereum:0.0.6"
          volumeMounts:
            - mountPath: /scripts/
              name: executor-scripts-volume
            - mountPath: /home/geth
              name: executor-home-vol
          envFrom:
            - configMapRef:
                name: geth-env
      containers:
        - name: geth
          command: ["/scripts/start-geth.sh"]
          image: "ghcr.io/astriaorg/go-ethereum:0.0.6"
          volumeMounts:
            - mountPath: /scripts/
              name: executor-scripts-volume
              readOnly: true
            - mountPath: /home/geth
              name: executor-home-vol
            - mountPath: /root/.metro
              name: metro-home-vol
          envFrom:
            - configMapRef:
                name: geth-env
          ports:
            - containerPort: 8545
              name: json-rpc-svc
            - containerPort: 50051
        - name: conductor
          image: "ghcr.io/astriaorg/conductor:0.1.0--conductor"
          command: ["/usr/local/bin/astria-conductor"]
          args:
            - "--tendermint-url=http://sequencer-service:1318"
            - "--celestia-node-url=http://celestia-service:26659"
            - "--chain-id=ethereum"
            - "--execution-rpc-url=http://localhost:50051"
          volumeMounts:
            - mountPath: /home/conductor
              name: conductor-home-vol
          ports:
            - containerPort: 33900
              name: gossipnet
      volumes:
      - name: executor-scripts-volume
        configMap:
          name: executor-scripts
          defaultMode: 0500
      - emptyDir: {}
        name: metro-home-vol
      - emptyDir: {}
        name: executor-home-vol
      - emptyDir: {}
        name: conductor-home-vol
