apiVersion: apps/v1
kind: Deployment
metadata:
  name: geth
  labels:
    app: astria-dev-cluster
  namespace: astria-dev-cluster
spec:
  replicas: 1
  selector:
    matchLabels:
      app: astria-dev-cluster
  template:
    metadata:
      annotations:
        cni.projectcalico.org/ipAddrs: '["192.168.65.121"]'
      name: execution-chain
      labels:
        app: astria-dev-cluster
    spec:
      initContainers:
        - command:
          - /scripts/init-geth.sh
          name: init-geth
          image: "ghcr.io/astriaorg/go-ethereum:0.1.0"
          volumeMounts:
            - mountPath: /scripts/
              name: executor-scripts-volume
            - mountPath: /home/geth
              name: executor-home-vol
          envFrom:
            - configMapRef:
                name: geth-env
      containers:
        - name: geth
          command: ["/scripts/start-geth.sh"]
          image: "ghcr.io/astriaorg/go-ethereum:0.1.1"
          volumeMounts:
            - mountPath: /scripts/
              name: executor-scripts-volume
              readOnly: true
            - mountPath: /home/geth
              name: executor-home-vol 
          envFrom:
            - configMapRef:
                name: geth-env
          ports:
            - containerPort: 8545
              name: json-rpc-svc
            - containerPort: 8546
              name: ws-rpc-svc
            - containerPort: 50051
        - name: conductor
          image: "ghcr.io/astriaorg/conductor:0.4.0--conductor"
          command: ["/scripts/start-conductor.sh"]
          stdin: true
          tty: true
          volumeMounts:
            - mountPath: /scripts/
              name: conductor-scripts-volume
              readOnly: true
            - mountPath: /keys/
              name: conductor-keys-volume
              readOnly: true
            - mountPath: /home/conductor
              name: conductor-home-vol
          envFrom:
            - configMapRef:
                name: conductor-env
          ports:
            - containerPort: 2451
              name: gossipnet
      volumes:
      - name: executor-scripts-volume
        configMap:
          name: executor-scripts
          defaultMode: 0500
      - name: conductor-scripts-volume
        configMap:
          name: conductor-scripts
          defaultMode: 0500
      - name: conductor-keys-volume
        configMap:
          name: conductor-keys
          defaultMode: 0500
      - emptyDir: {}
        name: executor-home-vol
      - emptyDir: {}
        name: conductor-home-vol
