apiVersion: apps/v1
kind: Deployment
metadata:
  name: sequencer-relayer
  labels:
    app: sequencer-relayer
  namespace: {{ .Values.global.namespace }}
spec:
  replicas: {{ .Values.global.replicaCount }}
  selector:
    matchLabels:
      app: sequencer-relayer
  template:
    metadata:
      annotations:
      name: astria-sequencer
      labels:
        app: sequencer-relayer
    spec:
      containers:
        - name: sequencer-relayer
          imagePullPolicy: IfNotPresent
          image: "{{ .Values.images.sequencerRelayer }}"
          command: [ "/scripts/start-relayer.sh" ]
          stdin: {{ .Values.config.useTTY }}
          tty: {{ .Values.config.useTTY }}
          envFrom:
            - configMapRef:
                name: relayer-env
          volumeMounts:
            - mountPath: /scripts/
              name: relayer-scripts-volume
      volumes:
        - name: relayer-scripts-volume
          configMap:
            name: relayer-scripts
            defaultMode: 0500
