kind: Service
apiVersion: v1
metadata:
  name: {{ .Values.config.moniker }}-sequencer-rpc-service
  namespace: {{ .Values.global.namespace }}
spec:
  selector:
    app: {{ .Values.config.moniker }}-sequencer
  ports:
    - name: cometbft-rpc
      port: {{ .Values.ports.cometBFTRPC }}
      targetPort: cometbft-rpc
    - name: cometbft-p2p
      port: {{ .Values.ports.cometBFTP2P }}
      name: cometbft-p2p
---
kind: Service
apiVersion: v1
metadata:
  name: {{ .Values.config.moniker }}-sequencer-p2p-service
  namespace: {{ .Values.global.namespace }}
spec:
  selector:
    app: {{ .Values.config.moniker }}-sequencer
  ports:
    - name: cometbft-p2p
      port: {{ .Values.ports.cometBFTP2P }}
      name: cometbft-p2p
---
