# Default values for sequencer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  namespace: "astria-dev-cluster"
  replicaCount: 1

config:
  moniker: "node0"
  # Whether to use tty readable logging for astria services, when false use json.
  # Best to be false in production environments, true for clean logs on local dev.
  useTTY: true

  sequencer:
    sudoAuthorityKey: 1c0c490f1b5528d8173c5de46d131160e4b2c0c3
    genesisAccounts:
    - address: 1c0c490f1b5528d8173c5de46d131160e4b2c0c3
      balance: 1000000000000000000
    - address: 34fec43c7fcab9aef3b3cf8aba855e41ee69ca3a
      balance: 1000000000000000000
    - address: 60709e2d391864b732b4f0f51e387abb76743871
      balance: 1000000000000000000
      # NOTE - the following address matches the privKey that funds the sequencer-faucet
    - address: 00d75b270542084a54fcf0d0f6eab0402982d156
      balance: 500000000000000000000

  # Values for CometBFT node configuration
  cometBFT:
    chainId: 'sequencer-test-chain'

    # If using postgres for indexing, update to enabled and set the connection
    psql:
      enabled: false
      conn: postgresql://<user>:<password>@<host>:<port>/<db>?<opts>

    # CometBFT P2P Private key.
    # This is a secret key, should use a secret manager for production deployments
    privNodeKey: HGWRtLbV8WLGFgbYhaGyaLe++DC+DBoc7O3bri81vs2ZlpR28IFfQScoO1aNOE/ygs8LIPM9UzLzbaab4VMggQ==
    p2p:
      # Address to listen for incoming connections, port is inferred from ports.cometBFTP2P
      laddr: "tcp://0.0.0.0"
      # Address to advertise to peers for them to dial. If empty, will use the same
      # port as the laddr, and will introspect on the listener to figure out the
      # address. IP and port are required. Example: 159.89.10.97:26656
      externalAddress: ""

      # List of seeds to connect to
      seeds: []
      # List of nodes to keep persistent connections to
      persistentPeers: []
      # List of node IDs, to which a connection will be (re)established ignoring any existing limits
      unconditionalPeers: []
      # List of peer IDs to keep private (will not be gossiped to other peers)
      privatePeers: []
      # Seed mode, in which node constantly crawls the network and looks for
      # peers. If another node asks it for addresses, it responds and disconnects.
      seed_mode: false
    validator:
      # Ed25519 address of validator
      address: 091E47761C58C474534F4D414AF104A6CAF90C22
      # public key for the validator address
      pubKey: lV57+rGs2vac7mvkGHP1oBFGHPJM3a+WoAzeFDCJDNU=
      # private key for the validator address
      # This is a secret key, should use a secret manager for production deployments
      privKey: dGOTAweQV8Do9P2n+A8m5EnboDrlxgD3dg4vrYpdIRqVXnv6saza9pzua+QYc/WgEUYc8kzdr5agDN4UMIkM1Q==
    validators:
      - name: core
        power: '1'
        address: 091E47761C58C474534F4D414AF104A6CAF90C22
        pubKey: lV57+rGs2vac7mvkGHP1oBFGHPJM3a+WoAzeFDCJDNU=

# sequencer core images
images:
  cometBFT: docker.io/cometbft/cometbft:v0.37.x
  sequencer: ghcr.io/astriaorg/sequencer:0.5.0--sequencer
  sequencerRelayer: ghcr.io/astriaorg/sequencer-relayer:0.6.0--sequencer-relayer

ports:
  cometBFTP2P: 26656
  cometBFTRPC: 26657
  sequencerABCI: 26658
  relayerRPC: 2450

storage:
  enabled: false
  local: true
  entities:
    sequencerSharedStorage:
      size: "5Gi"
      persistentVolumeName: "sequencer-shared-storage"
      path: "/data/sequencer-data"

ingress:
  rpc:
    enabled: true
    ingressClassName: nginx
    # For Kubernetes >= 1.18 you should specify the ingress-controller via the field ingressClassName
    # See https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#specifying-the-class-of-an-ingress
    # ingressClassName: nginx
    # Values can be templdated
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    labels: {}
    path: {}
    # pathType is only for k8s >= 1.1=
    pathType: Prefix
    hosts: {}
    # - chart-example.local
    service: {}
      # name: sequencer-service
      # port:
      #   name: cometbft-rpc
    defaultBackend: {}
      # service:
      #   name: sequencer-service
      #   port:
      #     name: cometbft-rpc
    ## Extra paths to prepend to every host configuration. This is useful when working with annotation based services.
    extraPaths: {}
    # - path: /*
    #   backend:
    #     serviceName: ssl-redirect
    #     servicePort: use-annotation
    ## Or for k8s > 1.19
    # - path: /*
    #   pathType: Prefix
    #   backend:
    #     service:
    #       name: ssl-redirect
    #       port:
    #         name: use-annotation
    tls: {}
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local
  p2p:
    enabled: false
    ingressClassName: nginx
    # For Kubernetes >= 1.18 you should specify the ingress-controller via the field ingressClassName
    # See https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#specifying-the-class-of-an-ingress
    # ingressClassName: nginx
    # Values can be templdated
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    labels: {}
    path: {}
    # pathType is only for k8s >= 1.1=
    pathType: Prefix
    hosts: {}
    # - chart-example.local
    service: {}
      # name: sequencer-service
      # port:
      #   name: cometbft-rpc
    defaultBackend: {}
      # service:
      #   name: sequencer-service
      #   port:
      #     name: cometbft-rpc
    ## Extra paths to prepend to every host configuration. This is useful when working with annotation based services.
    extraPaths: {}
    # - path: /*
    #   backend:
    #     serviceName: ssl-redirect
    #     servicePort: use-annotation
    ## Or for k8s > 1.19
    # - path: /*
    #   pathType: Prefix
    #   backend:
    #     service:
    #       name: ssl-redirect
    #       port:
    #         name: use-annotation
    tls: {}
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local
