apiVersion: apps/v1
kind: Deployment
metadata:
  name: blockscout
  labels:
    app: astria-dev-cluster
  namespace: astria-dev-cluster
spec:
  replicas: 1
  selector:
    matchLabels:
      app: astria-dev-cluster
  template:
    metadata:
      name: blockscout-local
      labels:
        app: astria-dev-cluster
    spec:
      containers:
        - name: blockscout
          command: ["bash"]
          args:
            - -c
            - bin/blockscout eval "Elixir.Explorer.ReleaseTasks.create_and_migrate()" && bin/blockscout start
          image: docker.io/blockscout/blockscout:5.1.0
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /app/logs
              name: blockscout-logs-vol
          envFrom:
            - configMapRef:
                name: blockscout-env
          ports:
            - containerPort: 4000
              name: blockscout
        - name: postgres
          command: ["docker-entrypoint.sh"]
          args:
            - -c
            - max_connections=200
          env:
            - name: POSTGRES_HOST_AUTH_METHOD
              value: trust
            - name: POSTGRES_PASSWORD
            - name: POSTGRES_USER
              value: postgres
          image: docker.io/library/postgres:14
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5432
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgres-vol
        - name: redis
          command: ["redis-server"]
          image: docker.io/library/redis:alpine 
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 6379
          volumeMounts:
            - mountPath: /data
              name: redis-vol
        - name: sig-provider
          image: ghcr.io/blockscout/sig-provider:latest@sha256:ae371ce8d0a20993bf61ca81b3394416f4778c9edd398250fd4d81a8d6820950
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8050
        - name: smart-contract-verifier
          image: ghcr.io/blockscout/smart-contract-verifier:v1.3.0@sha256:f07b2d874c28d45f5ba81f297c868a746a03771e8b6d9b8e96f0eba0beeb1016
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: smart-contract-verifier-env
          ports:
            - containerPort: 8150
        - name: visualizer
          image: ghcr.io/blockscout/visualizer:v0.2.0@sha256:99479da126248e0aba5c32b1e32625f8c527b72924f55cb510b50e5f854b2d15
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: visualizer-env
          ports:
            - containerPort: 8151
      volumes:
        - emptyDir: {}
          name: blockscout-logs-vol
        - emptyDir: {}
          name: postgres-vol
        - emptyDir: {}
          name: redis-vol
